@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-Bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-Italic.woff") format("woff");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-Medium.woff") format("woff");
    font-style: medium;
    font-weight: 500;
}

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-SemiBold.woff") format("woff");
    font-style: bolder;
    font-weight: 600;
}

header#top {
    width: 100%;
    margin: auto;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 5px #0000000d;
    opacity: 1;
}

header#top .header-container {
    /* width: auto; */
    margin: auto;
}

.header-container .nav {
    margin: auto;
    /* width: auto; */
}

main {
    width: 100%;
    margin: auto;
}

.container-adjuster {
    width: 1180px;
    margin: auto;
}

footer#bottom {
    width: 100%;
    margin: auto;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 5px #0000000d;
    opacity: 1;
}
footer#bottom .footer-container {
    /* width: auto; */
    margin: auto;
}

footer#bottom .footer-container .nav {
    /* width: auto; */
    margin: auto;
}

.ssp-login-body {
    background: transparent linear-gradient(0deg, #f5f7ff 0%, #f2f7ff 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 0px;
    right: 0px;
    font-size: 14px;
    font-weight: 400;
    font-family: Inter;
    overflow-y: auto;
}

.ssp-login-box {
    margin: auto;
    top: 75px;
    width: 444px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #0000000d;
    border-radius: 20px;
    padding: 10px;
    position: relative;
}

.ssp-login-box .card {
    width: 100% !important;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    padding: 0px;
}

.ssp-login-box .bg-100 {
    background: none !important;
    padding: 0px;
}

.login-bottom-text {
    margin: auto;
    top: 90px;
    width: 444px;
    padding: 10px;
    position: relative;
    text-align: center;
}

.ssp-login-box .card-body {
    padding: 0px;
}

.ssp-login-box .logo-box {
    align-items: center;
}

.ssp-login-box .logo {
    width: 67%;
    height: 67%;
    opacity: 1;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
}

.ssp-login-box .field-login label,
.ssp-login-box .field-password label {
    font-weight: bolder;
    font-family: Inter;
    margin-bottom: 4px;
}

.ssp-login-box .btn-primary {
    color: #ffffff;
    background-color: #704880;
    border-color: #704880;
    border-radius: 6px;
    opacity: 1;
    width: 100%;
    min-height: 54px;
    max-height: 54px;
}

.ssp-login-box .btn-primary :hover {
    color: #ffffff;
    background-color: #704880;
    border-color: #704880;
    opacity: 1;
}

.ssp-login-box .btn-primary :active {
    color: #ffffff;
    background-color: #704880;
    border-color: #704880;
    opacity: 1;
}

.ssp-login-box .card {
    max-width: 100%;
    width: 100%;
}

.ssp-login-box .btn-primary:not(:disabled):not(.o_wysiwyg_loader):not(.disabled):active {
    color: #ffffff;
    background-color: #704880;
    border-color: #704880;
    opacity: 1;
}

.ssp-login-box .reset-password {
    float: right;
}

.ssp-login-body a {
    color: #704880;
}

.ssp-login-box .form-control {
    border-color: #e3e3e3;
    border-radius: 6px;
    margin-bottom: 8px;
}

.ssp-login-box .list-group-item {
    border: none;
    font-weight: 600;
    color: #000000;
}

.ssp-login-box .oe_login_form {
    margin: 20px;
    max-width: 100%;
}

/* Header Styles */
.header-container {
    top: 0px;
    left: 0px;
    /* width: 1366px; */
    height: 90px;
    /* background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 5px #0000000d; */
    opacity: 1;
}
.header-container .nav {
    /* Layout Properties */
    top: 0px;
    left: 0px;
    /* margin-left: 139px;
    margin-right: 152px; */
    width: 1180px;
    height: 90px;
    border: none;
    background: #ffffff 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
}
.header-container .nav .main-logo {
    width: 272px;
    height: 58px;
    /* UI Properties */
    margin-top: 16px;
    margin-bottom: 15.77px;

    opacity: 1;
}
.header-container .nav .nav-user {
    display: flex;
    width: 473px;
}
.nav-user .search-box {
    left: 741px;
    width: 273px;
    height: 40px;

    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #c6c6c6;
    padding-left: 10px;
    border-radius: 6px;
    margin-top: 25px;
    margin-bottom: 25px;
    opacity: 1;
    display: flex;
    justify-content: start;
    align-items: center;
}
.nav-user .search-box .search-text {
    border: none;
    margin-left: 10px;
}
.nav-user .search-box .search-text:focus {
    outline: none;
}

.main-container .alert {
    position: absolute;
    top: 90px;
    margin-left: 0px;
    width: 1366px;
    height: 55px;
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    background: #494daf 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000000d;
    opacity: 1;
}
.closebtn {
    margin-left: 740px;
    width: 14px;
    height: 14px;
    margin-right: 110px;
    color: #ffffff;
    opacity: 1;
}

.welcome-title {
    margin-left: 120px;
    height: 19px;
    text-align: left;
    font: normal 15px/19px Inter;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}
::-webkit-input-placeholder {
    /* Edge */
    color: #b9b9b9;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b9b9b9;
}

::placeholder {
    color: #b9b9b9;
}

.nav-user .language-box {
    left: 1026px;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 12px;
    border-radius: 6px;
    opacity: 1;
}
.nav-user .language-box:focus {
    outline: none;
}
.nav-user .language-box .button {
    height: 40px;
    /* UI Properties */
    display: inline;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #c6c6c6;
    border-radius: 6px;
    opacity: 1;
}
.nav-user .language-box .button:focus {
    outline: none;
}
.nav-user .language-box .button span {
    height: 15px;
    width: 41px;
    text-align: left;
    font: normal 12px Inter;
    letter-spacing: 0px;
    color: #4d4c4c;
    opacity: 1;
}
.nav-user .language-box .button .flag {
    width: 18px;
    height: 12px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}

.nav-user .user {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 1;
}

.nav-user .user .user-block {
    top: 73px;
    text-align: left;
    width: 184px;
    height: 116px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #d8d8d8;
    opacity: 1;
}

.user-image {
    top: 20px;
    width: 50px;
    height: 50px;
    opacity: 1;
}

.dropdown ul {
    list-style: none;
}

.dropdown ul .link {
    top: 92px;
    width: 57px;
    height: 15px;
    margin: 10px;
    /* UI Properties */
    text-align: left;
    font: normal 15px Inter;
    letter-spacing: 0px;
    color: #4d4c4c;
    opacity: 1;
}

.dropdown-menu span {
    text-align: left;
    font: normal 15px inter;
}
.dropdown-menu ul li a:hover {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

/* Footer Styles */
.footer-container {
    left: 0px;
    width: 100%;
    height: 190px;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
}
.footer-container .nav {
    top: 0px;
    left: 0px;
    margin-left: 139px;
    margin-right: 139px;
    width: 1180px;
    border: none;
    background: #ffffff 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: space-between;
    opacity: 1;
}
.footer-container .nav .main-logo {
    width: 272px;
    height: 58px;
    margin-top: 36px;
    opacity: 1;
}
.footer-container .nav .list-container {
    display: flex;
    justify-content: space-between;
    margin-top: 57px;
}
.list-container .nav-item {
    list-style: none;
}
.list-container .nav-item .link {
    font: normal 13px Inter;
    letter-spacing: 0px;
    color: #484848;
    opacity: 1;
}
.footer-container .copyright {
    /* UI Properties */
    margin-top: 25px;
    margin-left: 40%;
    margin-bottom: 25px;
    height: 17px;
    text-align: left;
    font: normal 14px/17px Inter;
    letter-spacing: 0px;
    color: #b9b9b9;
    opacity: 1;
}

.current-partner-container {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 5px #0000001a;
    border-radius: 10px;
    padding: 20px;
}

.current-partner-container .row {
    padding: 20px;
}

.current-partner-container .beneficiary-value {
    font: normal normal 600 13px/16px Inter;
    letter-spacing: 0px;
    text-transform: uppercase;
}

/* Main content styles */
.main-container {
    background: #f5f9fc 0% 0% no-repeat padding-box;
    /* width: 1366px; */
    height: 100%;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    opacity: 1;
}

.search-clear-icon {
    display: none;
    cursor: pointer;
}

.css-serial {
    border-top: 1px solid #ddd;
}

.icon-image {
    padding: 30px;
    background: #6064c71a 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    width: 24px;
    height: 24px;
    margin: 10px;
    opacity: 1;
}

.icon-image img {
    width: 22px;
    height: 22px;
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

li div a {
    width: 78px;
    height: 17px;
    text-align: left;
    font: normal 600 14px/17px Inter;
    letter-spacing: 0px;
    color: #484848;
    opacity: 1;
}
li div p {
    height: 16px;
    text-align: left;
    font: normal 13px Inter;
    letter-spacing: 0px;
    color: #484848;
    opacity: 1;
}

.badge-button {
    width: 44px;
    height: 19px;
    background: #186ade 0% 0% no-repeat padding-box;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    opacity: 1;
}
.badge-button span {
    width: 26px;
    height: 14px;
    text-align: left;
    font: normal 600 11px/14px Inter;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}

.all-title {
    margin-bottom: 0px;
    height: 26px;
    text-align: left;
    font: normal 600 22px/26px Inter;
    letter-spacing: 0px;
    color: #484848;
    opacity: 1;
}
.breadcrumb-list {
    /* margin-left: 9%; */
    margin-right: 10%;
    margin-bottom: 33px;
    left: 139px;
    height: 17px;
    opacity: 1;
    padding-left: 0px;
}
.breadcrumb-list .breadcrumb-item a {
    width: 40px;
    height: 17px;

    text-align: left;
    font: normal 600 14px/17px Inter;
    letter-spacing: 0px;
    color: #494daf;
    opacity: 1;
}
.invisible {
    display: none;
}
#chartContainer {
    width: 220px;
    height: 220px;
    margin: auto;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: " \003E ";
    color: #000000 0% 0% no-repeat padding-box;
}

.page-item.active .page-link {
    color: #ffffff;
    border-radius: 6px;
    background-color: #494daf;
    border-color: #494daf;
}

#search-clear {
    display: none;
    cursor: pointer;
    margin-left: 5px;
    padding-right: 25px;
}
#seacrh-text-clear {
    display: none;
    cursor: pointer;
    margin-left: 5px;
    padding-right: 25px;
}

.aboutus-container {
    top: 201px;
    margin-bottom: 20px;
    padding: 36px 20px 20px 20px;
    width: 1088px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 5px #0000001a;
    border-radius: 10px;
    opacity: 1;
}

.aboutus-container .aboutus-header {
    display: flex;
    justify-content: space-between;
}
.aboutus-header .logo1 {
    width: 274px;
    height: 57px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}
.aboutus-header .logo2 {
    width: 156px;
    height: 82px;
    background: transparent 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}
.aboutus-container .header-section {
    width: 100%;
    height: 118px;
    background: #f8f8f8 0% 0% no-repeat padding-box;
    padding: 25px 22px 29px 22px;
    border-radius: 10px;
    margin-bottom: 44px;
    opacity: 1;
}
.header-section h1 {
    width: 270px;
    height: 20px;
    margin-left: 37%;
    font: normal 17px/20px Inter;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}
.header-section p {
    width: 100%;
    height: 34px;
    font: normal 14px/17px Inter;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}
.aboutus-container .section1 {
    width: 100%;
    height: 183px;
    margin-bottom: 44px;
    opacity: 1;
}
.section1 h1 {
    width: 247px;
    height: 20px;
    text-align: left;
    font: normal 17px/20px Inter;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}
.section1 p {
    width: 100%;
    height: 153px;
    font: normal 14px/17px Inter;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}

.aboutus-container .section2 {
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: space-between;
    opacity: 1;
}
.section2 div {
    width: 50%;
    margin-top: 91px;
    margin-bottom: 98px;
}

.section2 div h1 {
    width: 80%;
    height: 20px;
    text-align: left;
    font: normal 17px/20px Inter;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}
.section2 div p {
    width: 80%;
    height: 51px;
    text-align: left;
    font: normal 14px/17px Inter;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}

.section2 div logo3 {
    width: 516px;
    height: 270px;
    background: transparent 0% 0% no-repeat padding-box;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    opacity: 1;
}

.profile-container {
    margin-right: 10%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1088px;
    height: 528px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 5px #0000001a;
    border-radius: 10px;
    opacity: 1;
}
.profile-container div {
    margin-left: 23%;
    margin-right: 23%;
    margin-top: 50px;
    height: 76px;
    opacity: 1;
}
.profile-container div h1 {
    margin-left: 23%;
    margin-right: 23%;
    height: 29px;
    text-align: center;
    font: normal 24px/29px Inter;
    letter-spacing: 0px;
    color: #2c2c2c;
    opacity: 1;
}

.profile-container div p {
    height: 37px;
    text-align: center;
    font: normal 14px/20px Inter;
    letter-spacing: 0px;
    color: #7b7b7b;
    opacity: 1;
}

.next-button {
    border: 1px solid black;
    padding: 5px 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-primary {
    border-color: #704880 !important;
}
