@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); /* Zoom in */
    }
    100% {
        transform: scale(1); /* Zoom out */
    }
}

.loading-image-g2p-logo {
    width: auto;
    height: auto;
    animation: zoomInOut 3s infinite;
}
